/* ========== All PC ========== */
@media screen and (min-width: 992px) {
    body {
        overflow-x: hidden;
    }

    .hide-on-desktop {
        display: none;
    }
}

/* ========== Small PC ========== */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .about__decor-01 {
        display: none;
    }
}

/* ========== Mobile - Tablet & Phone ========== */
@media screen and (max-width: 991.98px) {
    /* ===== Header - navbar ===== */
    .navbar {
        display: none;
    }

    .header__inner {
        position: relative;
    }

    .mobile-sidebar__label i {
        scale: 1.4;
    }

    .header__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }

    .sidebar-overlay {
        position: fixed;
        inset: 0;
        background-color: #ececec;
        opacity: 0.5;
        z-index: 99;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .mobile-sidebar__toggle:checked ~ .sidebar-overlay {
        opacity: 0.5;
        visibility: visible;
    }

    .mobile-sidebar__toggle:not(:checked) ~ .sidebar-overlay {
        opacity: 0;
        visibility: hidden;
    }

    .mobile-drawer {
        padding: 60px;
        position: fixed;
        inset: 0 40% 0 0;
        translate: -100% 0;
        background-color: #fff;
        z-index: 100;
        transition: translate 0.3s;
    }

    .mobile-sidebar__toggle:checked ~ .mobile-drawer {
        translate: 0 0;
    }

    .mobile__navbar {
        margin-top: 32px;
    }

    .mobile__navbar .navbar__link {
        display: block;
        padding: 12px 0px;
    }

    /* ===== Hero ===== */
    .hero__inner {
        margin-top: 60px;
        justify-content: center;
    }

    .hero__media {
        display: none;
    }

    .hero__content {
        width: 90%;
        text-align: center;
    }

    .hero__content > * {
        margin-left: auto;
        margin-right: auto;
    }

    .hero__heading {
        font-size: 5.5rem;
    }

    .hero-cta {
        justify-content: center;
    }
}

/* ========== Tablet ========== */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    /* ===== Header - navbar ===== */
    .sidebar-action {
        display: none;
    }
}

/* ========== Phone ========== */
@media screen and (max-width: 767.98px) {
    .show-on-phone {
        display: block;
    }

    /* ===== Header - navbar ===== */
    .header-action {
        display: none;
    }

    .mobile-drawer {
        padding: 40px;
        inset: 0 40% 0 0;
    }

    .sidebar-action {
        margin-top: 8px;
        border-top: 1px solid #ff5b2e;
        padding-top: 20px;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    /* ===== Hero ===== */
    .hero__media {
        display: none;
    }

    .hero__heading {
        font-size: 4.5rem;
    }

    .hero__desc {
        width: 95%;
        height: auto;
    }

    .hero-cta {
        flex-wrap: wrap;
    }
}
