/* ========== All PC ========== */
@media screen and (min-width: 992px) {
    body {
        overflow-x: hidden;
    }

    .hide-on-desktop {
        display: none;
    }
}

/* ========== Small PC ========== */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .about__decor-01 {
        display: none;
    }
}

/* ========== Mobile - Tablet & Phone ========== */
@media screen and (max-width: 991.98px) {
    /* === Header - navbar === */
    .navbar {
        display: none;
    }

    .header__inner {
        position: relative;
    }

    .mobile-sidebar__label i {
        scale: 1.4;
    }

    .header__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }

    .sidebar-overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0.5;
        z-index: 99;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .mobile-sidebar__toggle:checked ~ .sidebar-overlay {
        opacity: 0.5;
        visibility: visible;
    }

    .mobile-sidebar__toggle:not(:checked) ~ .sidebar-overlay {
        opacity: 0;
        visibility: hidden;
    }

    .mobile-drawer {
        padding: 60px;
        position: fixed;
        inset: 0 40% 0 0;
        translate: -100% 0;
        background-color: #fff;
        z-index: 100;
        transition: translate 0.3s;
    }

    .mobile-sidebar__toggle:checked ~ .mobile-drawer {
        translate: 0 0;
    }

    .mobile__navbar {
        margin-top: 32px;
    }

    .mobile__navbar .navbar__link {
        display: block;
        padding: 12px 0px;
    }

    /* === Hero === */
    .hero {
        height: calc(100vh - 100px);
        display: flex;
        align-items: center;
    }

    .hero__inner {
        justify-content: center;
    }

    .hero__media {
        display: none;
    }

    .hero__content {
        width: 90%;
        text-align: center;
    }

    .hero__content > * {
        margin-left: auto;
        margin-right: auto;
    }

    .hero__heading {
        font-size: 5.5rem;
    }

    .hero-cta {
        justify-content: center;
    }

    /* === About === */
    .about__inner {
        grid-template-columns: 100%;
    }

    .about__content {
        width: 100%;
        text-align: center;
    }

    .about__heading-01,
    .about__desc-01 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .about__list {
        justify-content: center;
    }

    .about__decor-01 {
        display: none;
    }

    .about-02__media {
        display: none;
    }

    /* === Service === */
    .service__contents {
        grid-template-columns: auto auto;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .service__img-wrap {
        display: none;
    }

    .service__link {
        margin-top: 40px;
    }
}

/* ========== Tablet ========== */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    /* === Header - navbar === */
    .sidebar-action {
        display: none;
    }
}

/* ========== Phone ========== */
@media screen and (max-width: 767.98px) {
    .show-on-phone {
        display: block;
    }

    /* === Header - navbar === */
    .header-action {
        display: none;
    }

    .mobile-drawer {
        padding: 40px;
        inset: 0 40% 0 0;
    }

    .sidebar-action {
        margin-top: 8px;
        border-top: 1px solid #ff5b2e;
        padding-top: 20px;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    /* === Hero === */
    .hero__media {
        display: none;
    }

    .hero__heading {
        font-size: 4.5rem;
    }

    .hero__desc {
        width: 95%;
        height: auto;
    }

    .hero-cta {
        flex-wrap: wrap;
    }

    /* === About === */
    .heading--lv2 {
        font-size: 3.4rem;
        font-weight: 700;
        line-height: 1.19;
    }

    .about__list {
        grid-template-columns: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .about-01__media {
        display: none;
    }

    .about__desc-02 {
        width: 100%;
    }

    .tab__list {
        width: 100%;
        flex-wrap: wrap;
    }

    .tab__item {
        padding: 20px 0;
        width: 100%;
        flex-grow: 1;
        border-bottom: 1px solid #ececec;
    }

    .tab__item:nth-child(2) {
        justify-content: center;
    }

    .tab__item:nth-child(3) {
        justify-content: flex-end;
        border: none;
    }

    .tab__highlight {
        --tab-highlight-width: 30%;
        width: var(--tab-highlight-width);
        left: 0;
        transition: left 0.25s;
        translate: none;
    }

    .tab__item:nth-child(1):hover ~ .tab__highlight,
    .tab__item:nth-child(2):hover ~ .tab__highlight,
    .tab__item:nth-child(3):hover ~ .tab__highlight {
        translate: none;
    }

    .tab__item:nth-child(2):hover ~ .tab__highlight {
        left: calc((100% - var(--tab-highlight-width)) / 2);
    }

    .tab__item:nth-child(3):hover + .tab__highlight {
        left: calc(100% - var(--tab-highlight-width));
    }

    .tab__contents {
        width: 100%;
    }

    /* === Service === */
    .service__contents {
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr 1fr 1fr; */
    }

    .service__contents > .service-card:nth-child(1),
    .service__contents > .service-card:nth-child(3),
    .service__contents > .service-card:nth-child(6) {
        display: none;
    }

    .service__contents > .service-card:nth-child(2) {
        order: 2;
    }

    .service__contents > .service-card:nth-child(7) {
        order: 3;
    }
}
